<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <h1>
      <p>endereco Pessoal:</p>
    </h1>
    <table>
      <tr>
        <th>cep</th>
        <th>Telefone de Endereco</th>
        <th>Email</th>
        <th>Pessoa Relacionada</th>
      </tr>
      <% dados.forEach(function(endereco){ %>
      <tr>
        <td><%= endereco.celular %></td>
        <td><%= endereco.telendereco %></td>
        <td><%= endereco.email %></td>
        <td><%= endereco.pessoalId %></td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
