<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <h1>
      <p>Membros dos Setores</p>
    </h1>
    <table>
      <tr>
        <th>Data de Entrada</th>
        <th>Data de Saida</th>
        <th>Setor Responsavel</th>
        <th>Membro do Setor</th>
      </tr>

      <% dados.forEach(function(membroSetor){ %>
      <tr>
        <td><%= membroSetor.dataEntrada %></td>
        <td><%= membroSetor.dataSaida %></td>
        <td><%= membroSetor.setorId %></td>
        <td><%= membroSetor.membroSetorId%></td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
