<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <h1>
      <p>Sacramentos</p>
    </h1>
    <table>
      <tr>
        <th>Local</th>
        <th>Dia e Horario</th>
        <th>Nome da Pessoa</th>
        <th>Sacramento Consagração</th>
      </tr>

      <% dados.forEach(function(sacramento){ %>
      <tr>
        <td><%= sacramento.localSacramento %></td>
        <td><%= sacramento.dataHoraSacramento %></td>
        <td><%= sacramento.pessoaId %></td>
        <td><%= sacramento.tipoSacramentoId %></td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
