<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Tipos de Eventos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <h1>
      <p>Tipos de Eventos</p>
    </h1>
    <table border="1">
      <tr>
        <th>Tipo de Evento <a href="/tipoEvento/novo">Cadastrar</a></th>
      </tr>

      <% dados.forEach(function(tipoEvento){ %>

      <tr>
        <td>
          <a href="/tipoEvento/<%= tipoEvento.id %>"
            ><%= tipoEvento.tipoEvento %></a
          >
        </td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
