<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Cadastro Tipo de Sacramento</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <h1>
      <p>Cadastro Tipo de Sacramento</p>
    </h1>
    <div>
      <form action="/tipoSacramento" method="POST">
        <input type="hidden" name="id" value="<%= id %>" />

        <label for="tipoSacramento">Tipo de Sacramento</label>
        <input name="tipoSacramento" value="<%= tipoSacramento %>" />

        <button type="submit">Salvar</button>
      </form>
    </div>
  </body>
</html>
