<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Tipos de Sacramentos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <h1>
      <p>Tipos de Sacramentos</p>
    </h1>
    <table border="1">
      <tr>
        <th>
          Nome dos Sacramentos <a href="/tipoSacramento/novo">Cadastrar</a>
        </th>
      </tr>
      <% dados.forEach(function(tipoSacramento){ %>
      <tr>
        <td>
          <a href="tipoSacramento/<%= tipoSacramento.id %>"
            ><%= tipoSacramento.tipoSacramento %></a
          >
        </td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
