*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial;
    background: url(../menulateral/menulateral.jpg);
    background-size: 100%; /*esse aqui e da imagem, coloca a imagem do tamanho da tela*/
    background-size: cover;
    background-position-y: -750px;
}

ul{
    list-style: none; /*tira as bolinhas das listas*/
}

a{
    text-decoration:none; /*tira o _*/
    color: white;
    display: block; /*preenche o espaço todo do menu*/
    padding: 0px/*encima e embaixo*/ 20px /*esquerda e direita*/; /*padding e o espaçamento*/
}

a:hover{
    background-color: rgba(255, 255, 255,.3);/* essa ultima class .3 e a casa da transparencia*/
}

nav{
    background-color: black;
    height: 50px; /*altura*/
}

#ul-principal{
    background-color: blue;
    width: 90%; /*largura*/
    margin: auto;
}

.li-principal /*para classe, sempre usar o . */{
    line-height: 50px; /*altura da linha*/
    float: left; /*float ser para colocar os itens 1 do lado do outro */  
}

ul li ul li{
    background-color: black;
}

.ul-dizimo, .ul-catequese{
    display: none;
}
